* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  color: #ecf2fd;
  position: relative;
  padding-bottom: 200rem; }

a {
  text-decoration: none;
  display: inline-block; }

.nav {
  border-bottom: 2px solid #b2f2bb;
  background-color: #59FFA0;
  box-shadow: 0 2px 3px #9d9b9b;
  border-radius: 2rem;
  padding: 0.5rem 0;
  flex-wrap: wrap; }
  .nav__left {
    flex-wrap: wrap;
    gap: 2rem; }
    .nav__left--logo {
      padding-left: 1rem;
      gap: 0.1rem;
      transition: all .2s; }
      .nav__left--logo-1 {
        color: #940ca4; }
      .nav__left--logo-2 {
        color: #ffa94d;
        margin-left: -8px;
        text-transform: lowercase; }
      .nav__left--logo-3 {
        color: #3b5bdb;
        margin-left: -8px; }
      .nav__left--logo img {
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s; }
        .nav__left--logo img:hover {
          transform: scale(1.05); }
        .nav__left--logo img:active {
          transform: scale(0.95); }
      .nav__left--logo span {
        font-size: 2rem;
        cursor: pointer; }
    .nav__left--navbar {
      display: flex; }
  .nav__navbar {
    display: flex;
    gap: 2rem; }
    .nav__navbar--items {
      padding: .1rem .2rem;
      font-size: 1.2rem;
      color: #3b5bdb;
      transition: all .2s;
      font-weight: 700; }
      .nav__navbar--items:hover {
        border-bottom: 2px solid #ffa94d; }
  .nav__right {
    flex-wrap: wrap;
    padding-right: 3rem;
    gap: 4rem; }
    .nav__right--search {
      font-size: 1.65rem;
      color: #333333eb;
      cursor: pointer;
      font-weight: 400; }
    .nav__right--login {
      gap: 0.5rem; }

.btn:visited, .btn:link {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: #940ca4;
  color: #fff;
  border-radius: 3px;
  transition: all 0.3s; }

.btn:hover {
  transform: scale(1.03); }

.btn span:first-child {
  color: #3b5bdb; }

.btn span:nth-child(2) {
  padding: 0 5px;
  text-transform: uppercase; }

.nav__right--login .btn__signin {
  background-color: #fff;
  color: #333;
  border: 1px solid #0000004a;
  transition: all 0.3s; }
  .nav__right--login .btn__signin:hover {
    border: 1px solid #333; }

#btn__cookies--decline {
  background-color: #fff;
  color: #333;
  border: 1px solid #0000004a;
  transition: all 0.3s; }

#btn__cookies--accept,
#btn__cookies--decline {
  font-size: 1.1rem;
  text-align: center; }

.search {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  overflow: hidden;
  background-color: #59FFA0;
  display: grid;
  grid-template-columns: 1.2fr 0.2fr 5.8fr .8fr;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  margin-top: 2rem;
  z-index: 999;
  position: absolute;
  top: -1.24rem;
  left: 2rem; }
  .search__input {
    padding: 0.2rem 0.8rem;
    position: relative;
    border-radius: 0.2rem; }
    .search__input input {
      display: inline-block;
      width: 100%;
      border: none;
      padding: 0.8rem 0.1rem;
      font-size: 1.2rem;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.377);
      background-color: #59FFA0;
      transition: all 0.2s; }
      .search__input input::placeholder {
        color: #7d7d7d;
        font-weight: 200;
        font-size: 0.9rem; }
      .search__input input:focus {
        border: none;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
        border: none; }
        .search__input input:focus .search__input {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38); }
    .search__input-cancel {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2.5rem;
      color: #333;
      cursor: pointer; }

.search-cancel {
  display: none; }

.cookies {
  display: grid;
  grid-template-columns: 2fr 1fr .5fr;
  align-items: center;
  position: fixed;
  top: 78vh;
  left: 0;
  padding: 1rem 4rem;
  background-color: #0ae067b4;
  column-gap: 2.8rem;
  z-index: 999; }
  .cookies__details p {
    font-size: 1.1rem;
    color: #333; }
  .cookies__details a {
    margin-left: 0.3rem;
    color: #3b5bdb; }
    .cookies__details a:hover {
      text-decoration: underline; }
  .cookies__details span {
    margin-left: 3rem; }
  .cookies__btn {
    font-size: 1.2rem;
    gap: 0.7rem; }

.cookies-cancel {
  display: none; }

.manager {
  position: absolute;
  top: 19vh;
  left: 20%;
  width: 60%;
  margin: 0 auto;
  background-color: #0ae0673b;
  color: #3b5bdb;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 4px #b8b7b7;
  border-radius: 1rem; }
  .manager__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.346);
    padding-right: 2rem; }
    .manager__header--cancel {
      font-size: 2rem;
      color: #333;
      cursor: pointer;
      transition: all 0.3s; }
      .manager__header--cancel:hover {
        transform: scale(1.08); }
      .manager__header--cancel:active {
        transform: scale(0.9); }
  .manager__body {
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem; }
  .manager__constent {
    gap: 0.6rem; }
    .manager__constent h2 {
      font-size: 1.8rem; }
    .manager__constent p {
      font-size: 1.2rem;
      color: #3154dee4; }
  .manager__require em {
    font-size: 1.2rem;
    color: #ffa94d; }
  .manager__require h3 {
    font-size: 1.6rem;
    color: #3154dee4;
    margin-bottom: 1rem; }
  .manager__require p {
    font-size: 1.1rem;
    padding-right: 2rem; }
  .manager__require input {
    margin-right: 2rem;
    font-size: 2rem; }
  .manager__save {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.346); }

#manager__btn {
  font-size: 1.1rem;
  max-width: 30%;
  margin: 0.4rem 0rem;
  margin-left: 3rem; }

.close-cookies {
  display: none; }

.close-manager {
  display: none; }

.header {
  background-color: #0ae0673b;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 2rem; }

.grid-1-col {
  display: grid;
  grid-template-columns: 1fr; }

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid-2-col-divide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem; }

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.hero {
  margin-top: 0.5rem;
  padding-bottom: 20rem;
  height: 100vh; }

.flex-row__space-btwn {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-row__center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-row__start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
