// Add mixins
@mixin postion-section {
  margin: 0 auto;
  // padding: 0 2rem;
}

@mixin btn-style {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid #0000004a;
  transition: all 0.3s;
}

@mixin intro-part {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-black-light;
}

@mixin menu-mix {
  text-align: center;
  // width: 5rem;
  // height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 1.5rem;
  color: black;
  transition: all 0.4;

  &:hover {
    transform: scale(1.04);
    background-color: $color-tertiary;
  }
  //
}

// Media Querry manager
/*
0-600px --Phone Size
600px-900px --Tablet Size(Potrait)
900px - 1200px -- Tablet Size (LandScape)
1800px ++ -- Bigger Desktop
*/

/*
Breakpoint Argumrnt choices:
-- phone
-- tab-port
-- tab-land
-- big-desktop

*/
@mixin respond($breakpoint) {
  @if $breakpoint == bigger-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
  @if $breakpoint == min-phone {
    @media (max-width: 28.125em) {
      @content;
    } //450px
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == phone745 {
    @media (max-width: 46.5em) {
      @content;
    } //745 px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-port1100 {
    @media (max-width: 68.75em) {
      @content;
    } //1100px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
}
