// Add mixins
@mixin postion-section {
  margin: 0 auto;
  padding: 0 2rem;
}

@mixin btn-style {
  background-color: $color-white;
  color: $color-black;
  border: 1px solid #0000004a;
  transition: all 0.3s;
  
}