// Primary color Variables
//  Coloros
// Primary color #59FFA0 
// Secondary color #297045
// Tertiary color #B2FFD6

$color-primary-background:#eefff6;
$color-primary-background-light: #f7f7f7;
$color-primary-light: #59FFA0;
$color-background-final: #0ae0673b;
$color-background-final-1: #0ae067b4;

$color-primary-dark: #3eb370;
$color-accent: #ffa94d;
$color-accent-dark: #327a56;
$color-white: #fff;
$color-text: #ecf2fd;
$color-black: #333;
$color-tertiary: #940ca4;
$color-tertiary-text: #3b5bdb;
$color-tertiary-text-light: #3154dee4;

