.manager {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 40rem;
  margin: 0 auto;
  background-color: $color-primary-dark;
  color: $color-tertiary-text;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 4px rgb(184, 183, 183);
  border-radius: 1rem;
  z-index: 9999;
  overflow: auto;

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.346);
    padding-right: 2rem;

    &--cancel {
      font-size: 3.5rem;
      color: $color-black;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.08);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  &__body {
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  &__constent {
    gap: 0.6rem;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.4rem;
      color: $color-tertiary-text-light;
    }
  }
  &__require {
    em {
      font-size: 1.6rem;
      color: $color-accent;
    }
    h3 {
      font-size: 1.6rem;
      color: $color-tertiary-text-light;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      padding-right: 2rem;
    }
    input {
      margin-right: 2rem;
      font-size: 2rem;
    }
  }
  &__save {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.346);
  }
}
#manager__btn {
  font-size: 1.1rem;
  max-width: 35%;
  margin: 0.4rem 0rem;
  margin-left: 3rem;
}

.manager__constent .close-cookies {
  display: none;
}

.close-manager {
  display: none;
}
