.nav {
  background-color: $color-primary-light-1;
  padding: 0.8rem 0;
  flex-wrap: wrap;
  &__left {
    flex-wrap: wrap;
    gap: 2rem;
    &--logo {
      padding-left: 1rem;
      gap: 0.1rem;
      transition: all 0.2s;
      &-1 {
        color: $color-tertiary;
      }
      &-2 {
        color: $color-accent;
        margin-left: -8px;
        text-transform: lowercase;
      }
      &-3 {
        color: $color-tertiary-text;
        margin-left: -8px;
      }

      img {
        max-width: 100%;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s;

        @include respond(phone) {
          max-width: 80%;
        }
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.95);
        }
      }
      span {
        font-size: 3rem;
        cursor: pointer;

        @include respond(phone) {
          font-size: 3.5rem;
        }
      }
    }
    &--navbar {
      display: flex;
    }
  }
  &__navbar {
    // gap: 1rem;

    display: flex;
    gap: 2rem;
    @include respond(tab-land) {
      gap: 0rem;
    }
    @include respond(tab-port) {
      gap: 0rem;
    }

    &--items {
      padding: 0.1rem 0.9rem;
      font-size: 1.7rem;
      color: $color-tertiary-text;
      transition: all 0.2s;
      font-weight: 700;

      &:hover {
        border-bottom: 2px solid $color-accent;
      }

      @include respond(tab-land) {
        font-size: 1.4rem;
      }
    }
  }
  &__right {
    flex-wrap: wrap;
    padding-right: 3rem;
    gap: 4rem;

    &--search {
      font-size: 2.5rem;
      color: #333333eb;
      cursor: pointer;
      font-weight: 400;
    }
    &--login {
      gap: 1rem;
    }
  }
}

// menu Icons {
.menu__icons {
  font-size: 4rem;

  #menu-icon {
    display: none;
    @include menu-mix;
    @include respond(tab-port) {
      display: block;
    }

    @include respond(phone) {
      display: block;
    }
  }
  #times-icon {
    display: none;
    @include menu-mix;
  }
}

#nav-btn {
  @include respond(phone) {
    display: none;
  }
}

#nav-section {
  @include respond(tab-port) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-radius: 2rem;

  .nav {
    border-radius: 2rem;
    background-color: $color-primary-dark;
  }
}
