.search {
  // background-color: blue;

  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  overflow: hidden;
  background-color: $color-primary-light;

  display: grid;
  grid-template-columns: 2fr 0.5fr 7.8fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 2rem;

  z-index: 999;
  position: absolute;
  // max-width: 130rem;
  top: -1.4rem;
  left: 2rem;
  @include respond(tab-land) {
    grid-template-columns: 20rem 1fr 9.3fr 1fr;
    // padding: 2rem 2rem;
    margin-right: 2rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 20rem 1fr 9.3fr 1fr;
    // padding: 2rem 2rem;
    margin-right: 2rem;
  }
  @include respond(phone) {
    grid-template-columns: 0.5fr 7.8fr 1fr;
    padding: 2rem 2rem;
    margin-right: 2rem;
  }


  &__input {
    // border-bottom: 2px solid black;
    // background-color: green;
    padding: 0.2rem 0.8rem;
    position: relative;
    border-radius: 0.2rem;
    // &:hover {
    //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
    // }
    input {
      display: inline-block;
      width: 100%;
      border: none;
      padding: 0.8rem 0.1rem;
      font-size: 1.6rem;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.377);
      background-color: $color-primary-light;
      transition: all 0.2s;
      @include respond(phone) {
        font-size: 1.5rem;
      }

      &::placeholder {
        color: #7d7d7d;
        font-weight: 200;
        font-size: 1.6rem;
      }
      &:focus {
        border: none;
        outline: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
        border: none;
        .search {
          &__input {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
          }
        }
      }
    }
    &-cancel {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 4.5rem;
      color: $color-black;
      cursor: pointer;
    }
  }
}

// Removes the Search icon on the screen

.search-cancel {
  display: none;
}
#nav-search {
  @include respond(phone) {
    display: none;
  }
}
